<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
</head>

<body> 
    
    <div class="main-container">
        <h1>About</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/account">Account</a>
            <a href="/logout">Logout</a> 
        </nav>

        <h3 style="text-align: left; padding-left: 20px;"> <u>What is our Goal?</u> - </h3>
        <p style="text-align: left; padding-left: 30px; padding-right: 30px"> At Guitar Warmup Coach, we intend to provide the basic tools for users of varying skills to 
                                                            grow their techiqual prowess and understanding of chords and scalar patterns. 
                                                            More importantly to provide as much of an engaging experience as possible!</p>

        <h3 style="text-align: left; padding-left: 20px;"> <u>How we do it?</u> - </h3>
        <p style="text-align: left; padding-left: 30px; padding-right: 30px">In our user exercises we give users various exercises such as scales, arpeggios, chords and progressions which are random chosen and 
                                                            taken from a dataset of multiple patterns contained within the code. During these exercises users are able to provide feedback by 
                                                            using a provided slider shown after a completion of a specific exercise. This data is then stored in a user data base which is used 
                                                            and considered in the generation of future exercises. <br> <br> In summary, users provide feedback, and the poorer the rating on a particular pattern
                                                            the more likely it is to appear in an exercise </p>

        <!-- <h3 style="text-align: left; padding-left: 20px;"> <u>...</u> - </h3>
        <p style="text-align: left; padding-left: 30px; padding-right: 30px"> </p> -->

    </div>

</body>

</html>