<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Warmup Coach - Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main-container">
        <header>
            <h1>Guitar Warmup Coach</h1>
            <nav>
                <a href="/about">About</a>
                <a href="/account">Account</a>
                <a href="/logout">Logout</a> <!-- Add this line -->
            </nav>
        </header>
        <div class="section-list">
            <div class="section">
                <a href="/daily_exercise" class="button-link">Daily Exercise</a>
                <img src="/static/images/daily_exercise.jpg" alt="A guitar exercise routine">
            </div>
            <div class="section">
                <a href="/scale_diagram" class="button-link">Scales and Arpeggios</a>
                <img src="/static/images/scales_arpeggios.jpg" alt="Guitar scales and arpeggios">
            </div>
            <div class="section">
                <a href="/chord_progression" class="button-link">Chord Practice</a>
                <img src="/static/images/chord_practice.jpg" alt="Chord Practice">
            </div>
            <div class="section">
                <a href="/tutorial" class="button-link">Tutorial</a>
                <img src="/static/images/Tutorial.jpg" alt="Guitar tutorial">
            </div>
        </div>
        <footer>
            <p>© 2023 Guitar Warmup Coach | <a href="/privacy">Privacy Policy</a></p>
        </footer>
    </div>
</body>
</html>
